@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor:default;
}

::selection {
  background-color:blue;
  color:#fff;
}